html {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
}

.previewDiv {
	display: grid;
	text-align: center;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr 5fr 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin: 10px 0;
}

.imageContainer {
	grid-area: 2 / 2 / 3 / 3;
	position: relative;
}

header {
	display: grid;
	text-align: center;
	align-items: center;
	justify-content: center;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-top: 10px;
	height: 50px;
}
